<!DOCTYPE html>
<html lang="en">
<head>
    <title>List of Notes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="canonical" href="https://html5-templates.com/"/>
    <meta name="description" content="Simple HTML5 Page layout template with header, footer, sidebar etc.">
    <script src="../static/script.js"></script>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../static/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/css/util.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <!--===============================================================================================-->


    <link rel="stylesheet" href="../static/style.css">

</head>
<body>
<header>
    <div id="logo"><img src="../static/images/bodia.png">Future header</div>
</header>

<section>
    <strong>Simple and convenient notebook, created by Maxym Kuzyshyn.</strong>
</section>
<section id="pageContent">
    {% block content %}{% endblock %}
    <main role="main">
        {% for note in notes %}
        <div class="notes_container">
            <div class="note_content">
                <h2>{{ loop.index }}</h2>
                <p class="content">{{ note }}</p>
            </div>
            <form action="/edit" method="POST" style="display: flex;">

                <div class="sub-main">
                    <input class="button-two" type="submit"
                           name="submit_button" value="Edit note №{{ loop.index }}">
                </div>
                <div class="sub-main">
                    <input class="button-two" type="submit"
                           name="submit_button" value="Delete №{{ loop.index }}">
                </div>
            </form>
        </div>
        {% endfor %}
    </main>
</section>
<footer>
    <p>&copy;Thank's for using my convenient web notebook</p>
    <address>
        Contact: <a href="kuzyshyn@ucu.edu.ua">Mail me</a>
    </address>
</footer>


<!--===============================================================================================-->
<script src="../static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="../static/vendor/bootstrap/js/popper.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="../static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="../static/vendor/tilt/tilt.jquery.min.js"></script>
<script>
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
</script>

<!--===============================================================================================-->
<script src="../static/js/main.js"></script>

</body>
</html>




