{% extends "base.html" %}

{% block content %}
<!-- Hover #1 -->
<div class="box-1">
    <a href="add/">
        <div class="btn btn-one">
            <span>Add a new note</span>
        </div>
    </a>
</div>


<main role="main">
    {%for note in notes%}
    <article>
        <h2>{{loop.index}}</h2>
        <p class="content">{{note}}</p>
    </article>
    {% endfor %}
</main>
<!--    <aside>-->
<!--        <div>Sidebar 1</div>-->
<!--        <div>Sidebar 2</div>-->
<!--        <div>Sidebar 3</div>-->
<!--    </aside>-->
{% endblock %}